li {
    padding: 5px;
    margin: 5px;    
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #00ffc8;
  }
  
  .form-group {
    margin-bottom: 5px;    
  }
  
  * {
    background:  #e0ba11;
    max-width: 500px;
    margin: auto;
  }

h1 {
  color: red;
  text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

img {
  padding: 20px;
  width: 150px;
  height: 150px;
}